#board-grid {
    -fx-background-image: url("initBoard.png");
}

#left-tile-grid > .image-view {
    -fx-image: url("black_tile.png");
}

#right-tile-grid > .image-view {
    -fx-image: url("white_tile.png");
}